:root {
	--title-font-size: 3em;
	--subtitle-font-size: 1.7em;
	--button-font-size: 1.5em;
	--text-font-size: 1em;

	--main-blur: blur(10px);
	--main-white: rgba(255, 255, 255, 0.3);

	--main-accent: #1ab6ef;
	--secondary-accent: #1a4cef;
	--back-accent: #1aefbd;
}


* {
	font-family: "Roboto", sans-serif;
	font-size: var(--text-font-size);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: url("res/temp_bliss.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/**/


.context-menu {
    position: absolute;
    text-align: center;
    display: none;
    background: white;
    z-index: 100;
    border-radius: 1em;
    padding: 1em 0;  
}
.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
	padding-bottom: 7px;
	padding-top: 7px;
}

.context-menu ul li a {
	text-decoration: none;
	color: black;
}

.context-menu ul li:hover {
	background: rgb(230, 230, 230);
}

/* Header */

header {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
}

header a {
	font-size: var(--title-font-size);
	font-weight: bolder;
	color: black;
	text-decoration: none;
	padding-left: 2rem;
	padding-right: 2rem;
}

header .buttgroup {
	display: flex;
	flex-grow: 1;
	list-style: none;
}


header button {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2rem;
	padding-bottom: 2rem;

	border: 0.25rem;
	border-left: 0;
	border-right: 0;
	display: -webkit-box;

	background: none;
	border-style: solid;
	border-color: white;

	font-size: var(--button-font-size);
	cursor: pointer;
	/* TODO" fix startup animation*/
	transition: 0.25s;
}

header button:hover {
    background-image: linear-gradient(to top, rgb(223, 248, 255), white);
    cursor: pointer;
    border-bottom-color: #1a4cef;
}

/* List */

.content {
    border-radius: 1rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: var(--main-white);
    backdrop-filter: var(--main-blur);
	padding: 2em;
}

.content label {
    outline: none;
    cursor: pointer;
    margin: 0.5rem;
    font-size: var(--subtitle-font-size);
    min-height: 1rem;
    min-width: 1rem;
    padding: 4px;
}

.kanban-list {
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
    max-width: 25%;
    background-color: rgb(84, 170, 255);
}

.kanban-card {
    text-align: initial;
    min-height: 50px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(178, 217, 255);
    cursor: pointer;
    user-select: none;
}

/* Footer */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2rem;
	background-color: white;
}

draggable {
	position: absolute;
	user-select: none;
}