:root {
	--title-font-size: 3em;
	--subtitle-font-size: 1.7em;
	--button-font-size: 1.5em;
	--text-font-size: 1em;

	--main-blur: blur(10px);
	--main-white: rgba(255, 255, 255, 0.3);

	--main-accent: #1ab6ef;
	--secondary-accent: #1a4cef;
	--back-accent: #1aefbd;
}


* {
	font-family: "Roboto", sans-serif;
	font-size: var(--text-font-size);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: url("res/temp_bliss.jpg");

	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}

/* Header */

header {
	padding: 2rem;
	display: flex;
	background-color: var(--main-white);
	/* height: 5vh; */
	justify-content: left;
	align-items: center;
	backdrop-filter: var(--main-blur);
}

header a {
	font-size: var(--title-font-size);
	font-weight: bolder;
	color: black;
	margin-right: 2rem;

	text-decoration: none;
}

header .buttgroup {
	display: flex;
	flex-grow: 1;
}

header .buttgroup button {
	margin-left: 2em;
	margin-right: 2em;
	overflow: hidden;
	display: -webkit-box;
	max-width: 100%;
	max-height: 1em;
	background: none;
	border: none;
	font-size: var(--button-font-size);
	cursor: pointer;
}

/* List */

#content {
	height: 100%;
	margin: 2rem;
	border-radius: 1rem;
	display: flex;
	gap: 20px;
	justify-content: center;
	background-color: var(--main-white);
	backdrop-filter: var(--main-blur);
}

#content label {
	outline: none;
	cursor: pointer;
	margin: 0.5rem;
	font-size: var(--subtitle-font-size);
	min-height: 1rem;
	min-width: 1rem;
	padding: 4px;
}

#content div {
	text-align: center;
	margin: 0.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem;

	flex-grow: 1;
	max-width: 25%;
	background-color: rgb(84, 170, 255);
}

#content div div {
	text-align: initial;
	max-width: initial;
	min-height: 50px;
	margin: 0.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: rgb(178, 217, 255);
	cursor: pointer;
	user-select: none;
}

/* Footer */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2rem;
	background-color: white;
}

draggable {
	position: absolute;
	user-select: none;
}